<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.qait.automation.TatocDemo.AppTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>cookieHandlingMethod</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickOnTatoc</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickOnFrame</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>getNewWindowHandle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickOnGreenBox</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>dragAndDropActions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>openBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>clickOnTacosBasic</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
