<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Tatoc test run</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="74b285">  <td>19/07/05 13:27:53</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.clickOnFrame()[pri:0, instance:com.qait.automation.TatocDemo.AppTest@27efef64]">clickOnFrame</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>19/07/05 13:27:52</td>   <td>-1039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.clickOnGreenBox()[pri:0, instance:com.qait.automation.TatocDemo.AppTest@27efef64]">clickOnGreenBox</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>19/07/05 13:27:51</td>   <td>-1764</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.clickOnTacosBasic()[pri:0, instance:com.qait.automation.TatocDemo.AppTest@27efef64]">clickOnTacosBasic</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>19/07/05 13:27:48</td>   <td>-5301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.clickOnTatoc()[pri:0, instance:com.qait.automation.TatocDemo.AppTest@27efef64]">clickOnTatoc</td> 
  <td>main@230835489</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>19/07/05 13:27:04</td>   <td>-49269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.openBrowser()[pri:0, instance:com.qait.automation.TatocDemo.AppTest@27efef64]">openBrowser</td> 
  <td>main@230835489</td>   <td></td> </tr>
</table>
